/templates
.vuegenerator
.eslintrc.js
.eslintignore
.nyc_output
.husky
netlify.toml
jest.config.js
babel.config.js
vue.config.js
postcss.config.js
api-extractor.json
renovate.json
vite.config.ts
vite-lib.config.ts
tailwind.config.js
.prettierrc
.git
.prettierignore
**/.git/
**/node_modules/
yarn.lock
/dev
/docs
/public
/coverage
/.vscode
/tests
/temp
/templates
/demos
/src
.github
cypress.json
