/templates
.vuegenerator
.eslintrc.js
.eslintignore
netlify.toml
jest.config.js
babel.config.js
vue.config.js
postcss.config.js
tailwind.config.js
.prettierrc
.git
**/.git/
**/node_modules/
yarn.lock
/dev
/docs
/public
/coverage
/.vscode
/tests
