@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'vue-select/src/scss/vue-select.scss';

@import '../../../src/styles/themes/default.scss';

.library-example {
  background-color: #efefef;
  border-bottom: 5px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
}

.hint {
  font-size: 11px;
}
