$font-size: 1rem !default;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family: $font-family-sans-serif !default;

$line-height: 1.5;

$input-padding-y: 0.375rem;
$input-padding-x: 0.75rem;
$input-border-width: 1px;
$input-border-color: #e9ecef;
$input-border-radius: 0.25rem;
$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$input-placeholder-color: #6c757d;

$input-error-color: #dc3545;

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;

  &--error {
    .form-label {
      color: $input-error-color;
    }

    .form-control {
      border-color: $input-error-color;
      background: lighten($input-error-color, 40);
    }
  }

  .error {
    font-size: 11px;

    color: $input-error-color;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $font-family;
  font-size: $font-size;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;

  &:not(textarea) {
    height: calc(
      #{$line-height * 1em} + #{$input-padding-y * 2} + #{$input-border-width *
        2}
    );
  }

  // Placeholder
  &::placeholder {
    color: $input-border-color;
    opacity: 1;
  }
}
