body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

pre {
  font-family: FiraCode, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  font-size: 12px;
  color: #fefefe;
  background: #2c3e50;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  overflow: auto;
}
